@import 'bootstrap/dist/css/bootstrap';


body,html {
    font-family: 'Jura', sans-serif;
    margin: 0;
}
#logo {
    font-weight: bold;
    font-size: 26pt;
    color: white;
}
#navbar {
    background-color: rgba(68, 34, 1, 0.959);
}
a:hover#logo {
    color:rgb(122, 101, 6);
}
a.nav-link {
    color: white;
}
.nav-link:hover {
    color: rgb(122, 101, 6);
}

a:hover#create {
    color: rgba(68, 34, 1, 0.959);
}
 
#homepage {
    padding:200px 0 0 300px;
    
  }


#submit, #signup {
    border: 1px solid rgba(68, 34, 1, 0.959);
    background-color: rgba(68, 34, 1, 0.959);
    color: white;
    padding: 15px;
    margin: 12px;
    text-decoration: none;
    border-radius: 3px;
}
#submit:hover {
    border: 1px solid rgba(68, 34, 1, 0.959);
    background-color: rgba(68, 34, 1, 0.959);
    color:rgb(122, 101, 6);
    padding: 13px;
    border-radius: 3px;
}
#signup {
    padding: 20px;
    margin-left: 20px;
}
#signup:hover{

    color:rgb(122, 101, 6);
}

.well {
    border: 2px solid  rgba(68, 34, 1, 0.959);
    background-color: rgba(255, 255, 255, 0.623);
    border-radius:5px;
    padding: 20px 0 20px 10px;
}
#sticky-footer {
    background-color: rgba(68, 34, 1, 0.959);
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    text-align: center;

}

